.btn {
  padding: 10px 20px;
  background-color: @green;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: #8ec46d;
  }

  &_main-products {
    background-color: @gray;
    color: #444444;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      color: #b9b9b9;
    }
  }
}
