.main-products {
  padding: 3px 0 0;
}

.main-products__list {
  .list-reset();
  border: 1px solid #ededed;
  margin: 0 -20px;
  padding: 0 19px;
}

.main-products__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: #ededed;
  }

  &:last-child {
    &::after {
      display: none;
    }
  }
}

.main-products__footer {
  padding: 0 20px 24px;
  margin: 0 -20px;
  border: 1px solid #ededed;
  border-top: none;
}

.main-products__more-btn {
  display: block;
  width: 100%;
  padding: 79px 0 7px;
  border: none;
  background-color: transparent;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  cursor: pointer;
}

.main-products__notice {
  display: block;
  margin-bottom: 21px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.main-products__show-all-btn {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}
