.copyright {

}

.copyright__link {
  display: block;
}

.copyright__text {
  font-family: "Arial";
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.copyright__img {
  width: 27px;
  height: 34px;
}
