.main-nav {

}

.main-nav__toggle-btn {

}

.main-nav__list {

}

.main-nav__item {

}

.main-nav__link {
  display: block;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
