.main-product {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 25px;
}

.main-product__img {
  width: 140px;

  img {
    display: block;
  }
}

.main-product__description {
  width: 140px;
  padding: 22px 0 0;
}

.main-product__title {
  margin: 0 0 11px;
  max-width: 75px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.main-product__table {
  width: 140px;
  margin-left: -1px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;

  td {
    padding: 0;

    &:last-child {
      text-align: right;
    }
  }
}

.main-product__order-btn {
  width: 100%;
  padding: 11px 20px 9px;
  font-size: 16px;
  line-height: 20px;
}
