.optional-product {
  padding: 14px 0 17px;
  border-bottom: 1px solid #cdcdcd;
}

.optional-product__title {
  margin: 0 0 11px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
}

.optional-product__table {
  width: 100%;
  margin-bottom: 12px;
  font-family: "Arial";
  font-size: 14px;
  line-height: 14px;

  td {
    padding: 0;

    &:last-child {
      text-align: right;
    }
  }
}

.optional-product__order-btn {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 20px;
}
