.page-footer {
  padding: 39px 0 0;
  background-color: @gray;
}

.page-footer__logo {
  display: block;
  width: 128px;
  height: 25px;
  margin: 0 auto 30px;
}

// .page-footer__social {

// }

// .page-footer__copyright {

// }
