.stock {
  min-height: 289px;
  padding: 188px 0 0;
  margin-bottom: 35px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}

.stock__text {
  max-width: 165px;
  margin: 0 auto;
  text-align: center;
  font-family: "Arial";
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
